<title><%= full_title(yield(:title)) %></title>
<h3><strong>About</strong></h3><br>

<p class="lead">Bookgroks is a fun way to learn from all the books you’ll never read. It’s also a new way to discover new books and authors, to be inspired, and to grow.</p>

<p class="lead">We believe that it's the message not the medium that counts.</p>

<p class="lead"><%= link_to 'Sign Up', signup_path %> now to start sharing your favorite <em>A'ha</em> moments from the books you love.</p>

<p class="lead">For more details on getting started, visit our <%= link_to 'FAQs', faqs_path %> page.</p>