<title><%= full_title(yield(:title)) %></title>
<h3><strong>Contact</strong></h3><br>

<address>
<strong>Moviegroks</strong><br>
c/o Swig Swag<br>
1770 Post St., #215<br>
San Francisco, CA 94115<br>
<abbr title="Phone">P:</abbr> 415-494-7944
</address>

<address>
	<strong>E-mail</strong><br>
	<a href="mailto:#">hello@moviegroks.com</a>