<!-- <title><%= full_title(yield(:title)) %></title>
<h3><strong>Frequently Asked Questions</strong></h3>

<h3><strong>1. What exactly is a grok?</strong></h3>
<p class="text-justify">A grok is a 140 characters or less title and a 30 second audio snippet. That's it. It's the moments you encounter when reading a book where you close the book and clutch it close to your chest, thanking the Universe for allowing you to be alive at this time; or you rush to call your bestie to say, "Stop what you're doing and buy this book right now!" The juicy bits.</p>

<h3><strong>2. What's an ideal grok?</strong></h3>
<p class="text-justify">Most importantly, a grok IS NOT a book review. It's not intended to be balanced. if you didn't encounter one moment in a book that made your spine tingle or your heart flutter, why talk about it?

<p class="text-justify">Bookgroks isn't a numbers game. We want to curate the best moments from the books that left their mark on you. And, of course, you don't have to love a book from cover to cover to grok it.</p>

<h3><strong>3. Every web or mobile app that matters is social but I don't see a way to follow people. Am I missing something?</strong></h3>
<p class="text-justify">No. We plan to add the ability to follow themes or books soon. But following people, probably never. We're about thoughts and ideas. And ideas aren't limited to the few people we'd probably end up following anyway, right?</p>

<h3><strong>4. Can I create multiple groks for the same book?</strong></h3>
<p class="text-justify">Absolutely. We encourage it. If you really loved a book, create as many groks as you like. Each one should cover a unique idea. That's all.</p>

<h3><strong>5. I'm an author, am I allowed to share a'ha moments from my <i>own</i> books or is that frowned upon like if I reviewed my own book?</strong></h3>
<p class="text-justify">Authors can and should grok their own books. Your insights are equally valuable. Who doesn't want to hear the struggles and breakthroughs of authors who're creating the books we love?</p>

<h3><strong>6. This entire Bookgroks idea seems to promote not reading. If I can listen to others who've read a book tell me the best ideas, why bother reading?</strong></h3>

<p class="text-justify">We're avid readers. But we realize that reading at a rate of 2-3 books per week over the course of a lifetime doesn't even add up to reading a third of the books published in one year!

<p class="text-justify">The reality is that we can't read everything. But that shouldn't mean that we don't learn from the world's books. We like to think of ourselves as the world's soon-to-be largest digital book club where instead of all of us reading the same book, each of us reads a different book and shares the knowledge we've gained.</p>

<h3><strong>7. The current themes don't cover some of the books I want to grok. Is there a way to add new themes?</strong></h3>
<p class="text-justify">We're going to open it up soon so that anyone can add a new theme. In the meantime, if you want us to add a theme, send us a message <%= link_to "@bookgroks.", "https://twitter.com/bookgroks" %>, #theme. We wanted to start with the themes that we care about the most and ones that we think might make the world a better place. But we're open.</p>

<h3><strong>8. I love this app, but I have some ideas that I think could make it way better!</strong></h3>
<p class="text-justify">Go build it. Ha! Just kidding. We love a good idea. Feel free to reach out to us <%= link_to "@bookgroks.", "https://twitter.com/bookgroks" %> </p>

<h3><strong>9. I've heard myself saying things like 'grok it' and 'I'm grokking her book on my lunch hour'. Were you trying to create a thing?</strong></h3>
<h1>:-) </h1>

<h3><strong>So enough about us, read anything lately? If so, please <%= link_to 'Sign Up', signup_path %> now to start sharing your favorite <em>A'ha</em> moments from the books you love.</strong></h3> -->