<title><%= full_title(yield(:title)) %></title>
<h3><strong>Help</strong></h3>

<h3><strong>I can't record in my browser.</strong></h3>
<p class="text-justify">Bookgroks uses HTML5 for media content. The push is for it to become the standard across internet browsers. Currently, you can record and playback media in Chrome, Firefox, and Opera. Internet Explorer is coming soon. We use .wav files, IE likes .mp3.</p>

<h3><strong>How do I add my avatar?</strong></h3>
<p class="text-justify">You can visit <%= link_to "Gravatar", "http://en.gravatar.com" %>. It's a centralized way for you to have your avatar follow you online so you can maintain a consistent image without needing to remember to change your profile pic at every website.</p>

<h3><strong>Additional questions or issues?</strong></h3>
<p class="text-justify">Help us build this page by emailing them to help@bookgroks.com</p>
