<title><%= full_title(yield(:title)) %></title>
<div class="center">
  <h1>Moviegroks</h1>
<h3><i>Because Good Stories Make Us Feel</i> <sub><i class="fa fa-ellipsis-h"></sub></i></h3>
<div id="tag_cloud">
<% tag_cloud Movie.tag_counts, %w[s m l] do |tag, css_class| %>
<%= link_to tag.name, tag_path(tag.name), class: css_class %>
<% end %>
</div>
<%= link_to "Learn More", about_path, class: "btn btn-learnmore" %>
</div>
<br>
<% @groks.each_slice(2) do |groks| %>
<div class="row">

<% groks.each do |grok| %>
<div class="col-sm-6 col-md-6 col-lg-6" id="groks">
<%= render partial: "groks/grok", locals: { grok: grok} %>
</div>
<% end %>

</div>
<% end %>