<title><%= full_title(yield(:title)) %></title>
<div class="center">
  <h1>Moviegroks</h1>
<h3>Because Good Stories Teach Us</h3>
<%= link_to "Learn More", about_path, class: "btn btn-learnmore" %>

 
</div>
