<title><%= full_title(yield(:title)) %></title>
<div class="center">
  <h1>Moviegroks</h1>
<h3>Because Good Stories Teach and Inspire</h3>
<%= link_to "Learn More", about_path, class: "btn btn-learnmore" %>
</div>
<br>
<% @groks.each_slice(2) do |groks| %>
<div class="row">

<% groks.each do |grok| %>
<div class="col-sm-6 col-md-6 col-lg-6" id="groks">
<%= render partial: "groks/grok", locals: { grok: grok} %>
</div>
<% end %>

</div>
<% end %>