<title><%= full_title(yield(:title)) %></title>
<h3><strong>Privacy Policy</strong></h3><br>

<p class="lead">
This Privacy Policy describes how and when Moviegroks collects, uses, and shares your information when you use the Services.</p>

<h3><strong>What We Collect:</strong></h3>
<h3><strong>Third-party Advertisers and Links:</strong></h3>

<h3><strong>Cookies:</strong></h3>
<p class="text-justify">
Moviegroks, like most websites, enables cookies to store small chunks of information. This includes both session cookies and persistent cookies, which make viewing pages within a website and returning to a website more convenient. If you choose to disable cookies in your browser, you can find how-to information to do so. However, Moviegroks may not function properly if you do so.</p> 

<h3><strong>Log File Info:</strong></h3>
<p class="text-justify">
When you use Moviegroks, our servers automatically record certain web browser information sent. These include information such as your web request, Internet Protocol (“IP” address, browser type, browser language, referring/exit pages and URLs, platform type, number of clicks, domain names, landing pages, your blood type (just kidding), pages viewed and the order of those pages, the amount of time spent on particular pages, the date and time of your request, and one or more cookies that may uniquely identify your browser. Log Data is not retained beyond the time necessary to remove it as part of regular housekeeping.</p> 

<h3><strong>Merger, Sale, or Bankruptcy:</strong></h3>
<p class="text-justify">
In the event that Moviegroks is acquired or merged with a third party entity, we reserve the right to transfer or assign the information collected from our users as part of such merger, acquisition, sale, or other change of control. In the unlikely event of bankruptcy, we may not be able to control how your personal information is treated, transferred, or used. </p>

<h3><strong>Law and Harm:</strong></h3> 
<p class="text-justify">
Notwithstanding anything to the contrary in this Policy, we may preserve or disclose your information if we believe that it is reasonably necessary to comply with a law, regulation or legal request; to protect the safety of any person; to address fraud, security or technical issues; or to protect Moviegrok’s rights or property. However, nothing in this Privacy Policy is intended to limit any legal defenses or objections that you may have to a third party's, including a government's, request to disclose your information.</p>

<h3><strong>Children under 13:</strong></h3>
<p class="text-justify">
Our Services are not directed to persons under 13. If you become aware that your child has provided us with personal information without your consent, please contact us. We do not knowingly collect personal information from children under 13. If we become aware that a child under 13 has provided us with personal information, we take steps to remove such information and terminate the child's account.</p>

<h3><strong>Changes and updates to this Privacy Policy:</strong></h3>
<p class="text-justify">
From time to time, we may revise this policy. The most current version will be reflected by the below “effective date”. Please revisit this page at any time to stay aware of the most up-to-date policy in place. By continuing to access or use the Services after those changes become effective, you agree to be bound by the revised Privacy Policy.</p>

<h3><strong>CALIFORNIA DO NOT TRACK DISCLOSURES</strong></h3>
<p class="text-justify">
Moviegroks does not track its customers over time and across third party websites to provide targeted advertising and therefore does not respond to Do Not Track (DNT) signals. <p>

<strong>Effective: June 1, 2014</strong>