<title><%= full_title(yield(:title)) %></title>
<h3><strong>Terms of Service</strong></h3><br>


<p class="lead">Bookgroks is a product and service provided by Swig Swag. The Terms of Service (“Terms”) govern your access to and use of Bookgroks, including any mobile applications and websites (the “Services”), and any audio, information, text, images or other materials accessed in connection with our Services (collectively referred to as “Content”). By accessing or using the Services, you agree to be bound by these Terms and our Privacy Policy (link to this).</p>
<div class="row">
	
<div class="col-md-8"> 
<h3><strong>1. Use</strong></h3>
<p class="text-justify">
You are responsible for your use of the Services, for any Content you create, post and share, and the consequences thereof. When joining this site, you are required to use your real name and a real email address. Therefore, any content that you submit should only include Content that you are comfortable with sharing with others under these Terms.</p>


<p class="text-justify">
You may use the Services only if you can form a binding contract with Bookgroks, and only in compliance with these Terms and all applicable laws. Any use or access by anyone under the age of 13 is prohibited. Company or Third Party accounts include you and the entity.
</p>

<p class="text-justify">
At any time, and without prior notice, we reserve the right to permanently or temporarily stop providing the Services (or any features within the Services) to you or other users. You also agree that we can upgrade our product and that these Terms will apply to such upgrades.
</p>
</div>

<div class="col-xs-4"> 
	<br><br><br><br><br>
<p class="lead">In a nutshell: By consuming bookgroks, you’re entering into a relationship with us. And like all relationships, it has it’s rules. These are ours.</p>
</div>

<div class="col-md-8">
<h3><strong>2. Your Content</strong></h3>
<p class="text-justify">
You retain all rights in, and are solely responsible for, the User Content you post to Bookgroks. You may be exposed to Content that you consider offensive, harmful, inaccurate or otherwise inappropriate. Bookgroks is not liable but we reserve the right to remove or modify User Content for any reason, including Content that we believe violates these terms or policies.
</p>
</div>

<div class="col-xs-4"> 
	<br><br><br>
<p class="lead">In a nutshell:
Be kind. Your name is on the line.</p>
</div>

<div class="col-md-8"> 
<h3><strong>3. Security</strong></h3>
<p class="text-justify">
Securing your password or credentials that you use to access the Services and for any actions under your account is your responsibility. We encourage you to use “strong” passwords (passwords that use a combination of upper and lower case letters, numbers and symbols). Bookgroks cannot guarantee that unauthorized third parties will not be able to defeat our security measures. Please notify us immediately of any compromise or unauthorized use of your account.
</p>
</div>

<div class="col-xs-4"> 
	<br><br><br><br>
<p class="lead">In a nutshell:
Share freely and protect your cookies.</p>
</div>

<div class="col-md-8"> 
<h3><strong>4. License</strong></h3>
<p class="text-justify">
You are granted a personal, worldwide, royalty-free, non-assignable and non-exclusive license to use the software provided to you by Bookgroks as part of the Services. This license is for the sole purpose of enabling you to use and enjoy the benefit of the Services in accordance with these Terms.
</p>
</div>

<div class="col-md-8"> 
<h3><strong> 5. Termination</strong></h3>
<p class="text-justify">
Bookgroks or you can terminate this license at any time, with or without cause. 
</p>
</div>

<div class="col-xs-4"> 
	<br><br>
<p class="lead">In a nutshell:
We make it easy to say goodbye.</p>
</div>

<div class="col-md-8"> 
<h3><strong>6. Copyright Policy</strong></h3>
<p class="text-justify">
Bookgroks respects the intellectual property rights of others and expects users of the Services to do the same. In conjunction with the Digital Millennium Copyright Act of 1998, we will respond to notices of alleged copyright infringement in appropriate circumstances and at our discretion.

If you believe that your Content has been copied in a way that constitutes copyright infringement, please provide us with the following information:
<ol>
<li>identification of the copyrighted work claimed to be infringed;</li><br>
<li>identification of the material that is claimed to be infringing and that is to be removed and the means to locate the material;</li><br>
<li>your full name, an electronic or physical signature, and your contact information, including your mailing address, telephone number, and email address;</li><br>
<li>a statement that includes “I hereby state that I have a good faith belief that the disputed use of the copyrighted material is not authorized by the copyright owner, its agent, or the law and I am the owner, or authorized to act on behalf of the owner.</li><br>

Deliver this Notice to:<br>
<address>
<strong>Copyright Agent - Bookgroks</strong><br>
c/o Swig Swag<br>
1770 Post St., #215<br>
San Francisco, CA 94115<br>
Email: copyright@bookgroks.com<br>
Or click <a href="mailto:copyright@bookgroks.com"> here</a> (to email us).
</address>
</ol>
</p>
</div>

<div class="col-md-8"> 
<h3><strong>7. Warranty</strong></h3>
<p class="text-justify">
Bookgroks is provided as a service. It is “AS IS,” WITHOUT EXPRESS OR IMPLIED WARRANTY OR CONDITION OF ANY KIND. YOU USE THE SERVICE AT YOUR OWN RISK. BOOKGROKS DISCLAIMS ALL WARRANTIES AND CONDITIONS, WHETHER EXPRESS OR IMPLIED, OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR NON-INFRINGEMENT.
In addition, no advice or information whether oral or in writing obtained by you from Bookgroks shall create any warranty on behalf of Bookgroks.
</p>
</div>

<div class="col-md-8"> 
<h3><strong>8. Third Party Links</strong></h3>
<p class="text-justify">
Links to third-party web sites are provided for convenience only. Bookgroks does not endorse or support the content of third-party links. Bookgroks is not responsible for the content of any third-party website. By clicking a third-party link, you leave the Bookgroks website. Privacy and security policies may differ at these sites.
</p>
</div>

<div class="col-xs-4"> 
	<br><br><br>
<p class="lead">In a nutshell: It’s an open web. But we’re neighbors with property lines.</p>
</div>


<div class="col-md-8"> 
<h3><strong>9. Limitation of Liability</strong></h3>
<p class="text-justify">
TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, BOOKGROKS SHALL NOT BE LIABLE FOR ANY INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR PUNITIVE DAMAGES, OR ANY LOSS OF PROFITS OR REVENUES, WHETHER INCURRED DIRECTLY OR INDIRECTLY, OR ANY LOSS OF DATA, USE, GOOD-WILL, OR OTHER INTANGIBLE LOSSES, RESULTING FROM (i) YOUR ACCESS TO OR USE OF OR INABILITY TO ACCESS OR USE THE SERVICES; (ii) ANY CONDUCT OR CONTENT OF ANY THIRD PARTY ON THE SERVICES, INCLUDING WITHOUT LIMITATION, ANY DEFAMATORY, OFFENSIVE OR ILLEGAL CONDUCT OF OTHER USERS OR THIRD PARTIES; (iii) ANY CONTENT OBTAINED FROM THE SERVICES; OR (iv) UNAUTHORIZED ACCESS, USE OR ALTERATION OF YOUR TRANSMISSIONS OR CONTENT.
IN NO EVENT SHALL THE AGGREGATE LIABILITY OF BOOKGROKS EXCEED THE GREATER OF ONE HUNDRED U.S. DOLLARS (U.S. $100.00) OR THE AMOUNT YOU PAID BOOKGROKS, IF ANY, IN THE PAST SIX MONTHS FOR THE SERVICES GIVING RISE TO THE CLAIM.
THE LIMITATIONS OF THIS SUBSECTION SHALL APPLY TO ANY THEORY OF LIABILITY, WHETHER BASED ON WARRANTY, CONTRACT, STATUTE, TORT (INCLUDING NEGLIGENCE) OR OTHERWISE, AND WHETHER OR NOT BOOKGROKS HAS BEEN INFORMED OF THE POSSIBILITY OF ANY SUCH DAMAGE, AND EVEN IF A REMEDY SET FORTH HEREIN IS FOUND TO HAVE FAILED OF ITS ESSENTIAL PURPOSE.

Nothing in these Terms removes or limits Bookgrok’s liability for fraud, fraudulent misrepresentation, death or personal injury caused by its negligence. Some aspects of this section may not apply in some jurisdictions.
</p>
</div>

<div class="col-md-8"> 
<h3><strong>10. General Terms</strong></h3>
<p class="text-justify">
A. Waiver and Severability
In the event that any provision of these Terms is held to be invalid or unenforceable, then that provision will be limited or eliminated to the minimum extent necessary, and the remaining provisions of these Terms will remain in full force and effect.
</p>
</div>

<div class="col-md-8"> 
<p class="text-justify">
B. Controlling Law and Jurisdiction
These Terms and any action related thereto will be governed by the laws of the State of California without regard to or application of its conflict of law provisions or your state or country of residence. All claims, legal proceedings or litigation arising in connection with the Services will be brought solely in the federal or state courts located in San Francisco County, California, United States, and you consent to the jurisdiction of and venue in such courts and waive any objection as to inconvenient forum.
If you are a federal, state, or local government entity in the United States using the Services in your official capacity and legally unable to accept the controlling law, jurisdiction or venue clauses above, then those clauses do not apply to you. For such U.S. federal government entities, these Terms and any action related thereto will be governed by the laws of the United States of America (without reference to conflict of laws) and, in the absence of federal law and to the extent permitted under federal law, the laws of the State of California (excluding choice of law).<br>
<p>
</div>

<div class="col-xs-4"> 
<p class="lead">In a nutshell:
Grok with care.</p>
</div>

<div class="col-md-8"> 
<p class="text-justify">
C. Entire Agreement
These Terms and the Privacy Policy represent the entire and exclusive agreement between Bookgroks and you regarding the Services and, as such, supersede and replace any prior agreements between Bookgroks and you regarding the Services. We may revise these Terms from time to time. By continuing to use the Services after such revisions, you consent to be bound by the revised terms as they become effective.
</p><br>

<strong>Effective: June 1, 2014</strong>
</div>
</div>