<title><%= full_title(yield(:title)) %></title>
<h1>Movies</h1>

<br>
 <% @movies.each_slice(4) do |movies| %>
    <div class="row" id="movies">
    <% movies.each do |movie| %>
    <%= render movie %>
       
        
      <% end %>
      </div> 
  <% end %>


<ul>
 <% will_paginate %>
</ul>
<% if current_user.try(:admin?) %>
<%= link_to 'Add New', new_movie_path %>
<% end %>