<html>
<head>
<script type="text/javascript">


window.onLoad = function bodyOnload(limitNum){
var tweet =  document.forms['form'].elements['title'].value;
document.forms['form'].elements['countdown'].value = limitNum - tweet.length;
}
function limitText(limitField, limitCount, limitNum) {
  if (limitField.value.length > limitNum) {
    limitField.value = limitField.value.substring(0, limitNum);
  } else {
    limitCount.value = limitNum - limitField.value.length;
  }
}

function seeTextArea (form) {
    alert (form.title.value);
}
</script>
</head>
<div class="row">
<div id="circle" class="col-xs-2 col-lg-1">3</div>
<div class="col-xs-10 col-lg-11">
<div class="toggle-grok" id="btnForm">
    <button type="button" class="btn btn-forms3" data-toggle="collapse" data-target="#toggle-grok-form3"><h7>Create Title</h7></button>
 
    <div id="toggle-grok-form3" class="collapse in">

      <fieldset class="grok">

    <%= f.text_area(:title, class: "new-grok-form", :name => "grok[title]", :id => "title", :style => "margin-bottom:10px", width: '120px', rows: '2', maxlength: '140', :placeholder => "Share the A'ha moments from the books you love.", :onKeyDown => "limitText(this.form.title,this.form.countdown,140);", :onKeyUp => "limitText(this.form.title,this.form.countdown,140);") %>
          <br><font size='1'>You have <input readonly type='text' name='countdown' size='3' value='140' style= 'width: 30px; border: none'>characters left.</font>
    </fieldset>
  </div>
</div>
</div>
</div>
</body>
</html>