<div class= "container">
<div id="favquotes">
<p6>...saving your grok</p6>
</div>
</div>
<div id="fav_quote">
<div id="contain_quote">
<h3><%= @favorite_quotes.quote %></h3>

<div id="fav_quote_author">
<p5>~ <%= @favorite_quotes.movie %> (<%= @favorite_quotes.year %>)</p5>
</div>
</div>
</div>