<title><%= full_title(yield(:title)) %></title>
<% if @grok.audio_remote_url !=nil %>
<div id="showQuote">
  		<%= render partial: 'processing_audio', locals: {:favorite_quotes => @favorite_quotes} %>
  		</div>
		
 <% else %>
		<div id="showGrok">
			<!-- <div class="row">	 -->
			<div class="col-sm-6 col-md-6 col-lg-6" id="groks">
			<%= render partial: 'grok', locals: {:grok => @grok} %>
 			</div>
		</div>		
<% end %>